{% extends "master.html" %}

{% block title %}
Veranstaltungsarten (Einstellungen)
{% endblock %}

{% block content %}
<ol class="list-group">
        {% for typ in object_list %}
		<li class="list-group-item d-flex justify-content-between align-items-start" id="typ-{{ typ.id }}">
			<div class="ms-2">
				{{ typ.name }}
				{% if typ.url != "" %}
					(<a href="{{ typ.url }}">{{ typ.url }}</a>)
				{% endif %}
			</div>
			<div class="ms-2">
				<form hx-swap="delete" hx-target="#typ-{{ typ.id }}" hx-confirm="Wenn du einen Veranstaltungsart löscht werden auch die zugehörigen Veranstaltungen nicht mehr angezeigt. Bist du sicher, dass {{ typ }} gelöscht werden soll?">
					{% csrf_token %}
					<button class="my-2 mx-2 btn btn-danger" hx-post="/typ/{{ typ.id }}/delete">löschen</button>
				</form>
				<form method="GET" action="/typ/{{ typ.id }}/modify">
					{% csrf_token %}
					<button class="my-2 mx-2 btn btn-success">bearbeiten</button>
				</form>
			</div>
		</li>
        {% endfor %}
</ol>

<br>

<form method="GET" action="/typ/add">
	{% csrf_token %}
	<button class="mx-2 btn btn-success">Neue Veranstaltungsart anlegen</button>
</form>
{% endblock %}
