[Unit]
Description=clubber web service
After=network.target

[Service]
User=clubber
Group=clubber
Environment="VIRTUAL_ENV=/var/clubber/venv"
Environment="PATH=/var/clubber/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/var/clubber/venv/bin/gunicorn --chdir /var/clubber/clubber clubber.wsgi \
                      --name clubber --workers 5 \
                      --max-requests 1200  --max-requests-jitter 50 \
                      --log-level=info --bind=127.0.0.1:8888
WorkingDirectory=/var/clubber
Restart=on-failure

[Install]
WantedBy=multi-user.target
