{% extends "master.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
	{% translate "Modify event" %}
{% endblock %}

{% block content %}

{% if event_form %}
<div class="container text-left">
	<h1>{% translate "Modify event" %}</h1>
	<form  method="post">
		{% csrf_token %}
		{{ event_form|crispy }}
		<button class="btn btn-primary" id="btn_event_modify_confirm" name="modify_done" type="submit" value={{ event_id }}>{% translate "Update" %}</button>
	</form>
</div>
{% endif %}

{% endblock %}
