{% load humanize %}
{% load i18n %}

<style>
	.htmx-request #delete-name-txt-icon{
	display:none;
	}
	.htmx-request #add-name-txt-icon{
	display:none;
	}

	.htmx-request #event_participant_txt_add {
	display:inline-block;
	}

	#event_participant_txt_add {
	display:none;
	}

	.htmx-request #event_participant_txt_delete{
	display:inline-block;
	}

	#event_participant_txt_delete {
	display:none;
	}
</style>

<div
	class="row"
	id="event-{{ event.id }}"
	hx-target="#event-{{ event.id }}"
	hx-swap="outerHTML" >

	<div class="col">
		{% if event.typ.url != "" %}
		<a href="{{ event.typ.url }}"{% translate "Additional information" %}</a>
		{% endif %}
	</div>

	{% if event.userIsStaff %}
		<div class="alert my-2">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="container text-center">
						<div class="row">
							<div class="col">
								{% translate "Event Administration" %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<form method="post" action="/modify">
								{% csrf_token %}
								<button class="btn mx-2 btn-lg" id="btn_event_modify" name="modify" value={{ event.id }}>
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square icon-baseline" viewBox="0 0 16 16">
										<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
										<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
									</svg>
								</button>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col">
								{% if event.cancled %}
									<button id="btn_event_cancle_unset"class="btn btn-danger" hx-post="{% url 'event_cancle_unset' event.id %}">{% translate "Confirm" %}</button>
									{% if event.userIsStaff and event.noParticipants %}
										<div hx-target="#accordion-event-{{ event.id }}" hx-confirm="{% translate "Confirm to delete this event" %}" hx-swap="delete"> 
											<button id="btn_event_delete" class="btn btn-danger" hx-post="{% url 'event_delete' event.id %}">{% translate "Delete event" %}</button>
										</div>
								{% endif %}
								{% else %}
									{% if event.organizer == None %}
										<button id="btn_event_open_set" class="btn btn-success" hx-post="{% url 'event_open_set' event.id %}">{% translate "I will open" %}</button>
									{% else %}
										{% if event.organizer != request.user %}
											<button id="btn_event_open_set" class="btn btn-success" hx-post="{% url 'event_open_set' event.id %}">{% translate "I will open" %} {% translate "instead of" %} {{ event.organizer }}</button>
										{% endif %}
										<button id="btn_event_open_unset"class="btn btn-warning" hx-post="{% url 'event_open_unset' event.id %}">{% translate "I will not open" %}</button>
									{% endif %}
									<button id="btn_event_cancle_set" class="btn btn-success" hx-post="{% url 'event_cancle_set' event.id %}">{% translate "Cancle" %}</button>
								{% endif %}
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	{% endif %}

		
	{% if event.cancled %}
		<div class="alert alert-danger my-2">
			{% translate "This event is cancled" %}
		</div>
	{% else %}
		{% if event.organizer == None %}
			<div class="alert alert-warning my-2">
						{% translate "Currently nobody has volunteered to open." %}
			</div>
		{% endif %}

		{% if event.missingParticipants > 0 %}
			<div class="alert alert-warning my-2">
				{% if event.missingParticipants == 1 %}
					{% translate "One missing participant." %}
				{% else %}
					{% blocktranslate with number_participants_missing=event.missingParticipants|apnumber %}Still {{number_participants_missing}} registrations are missing.{% endblocktranslate %}
				{% endif %}
				{% if not event.organizer == request.user and not event.userIsSubscribed %}
					<br>
					{% translate "Nevertheless, please register if you want to join this event." %}
				{% endif %}
			</div>
		{% endif %}
	{% endif %}

	{% if not event.userIsOrganizer and event.auth %}
		{% if event.userIsSubscribed %}
			<div class="my-2"> 
				<button id="btn_event_participate_unset" class="btn btn-success" hx-post="{% url 'event_follow_unset' event.id %}">{% translate "Cancle participation" %}</button>
			</div>
		{% endif %}
		{% if not event.userIsSubscribed and not event.fullyBooked and not event.cancled %}
			<div class="my-2"> 
				<button id="btn_event_participate_set" class="btn btn-primary" hx-post="{% url 'event_follow_set' event.id %}">{% translate "Confirm participation" %}</button>
			</div>
		{% endif %}
	{% endif %}

	<div class="my-2"> 
		<ul class="list-group">
			{% if event.organizer %}
				<li class="list-group-item" id="event-{{ event.id }}-participant-{{ p.id }}">
					{{ event.organizer.username }} ({% translate "opens" %})
				</li>
			{% endif %}

			{% for p in event.participants.all %}
				<li class="list-group-item" id="event-{{ event.id }}-participant-{{ p.id }}">
					{% if not event.userIsStaff %}
					{{ p.username }}
					{% else %}
						<form class="form-inline">
							<div class="form-group mb-2">
								{{ p.username }}
								<button class="btn btn-danger mx-2 btn-lg" hx-post="{% url 'event_participant_delete' event.id p.id %}">
									<svg clas="bi" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill icon-baseline" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
									</svg>
								</button>
							</div>
						</form>
					{% endif %}
				</li>
			{% endfor %}

			{% for p in event.participants_txt.all %}
				<li class="list-group-item" id="event-{{ event.id }}-participant_txt-{{ p.id }}">
					{% if event.userIsStaff %}
						<form class="form-inline">
							<div class="input-group">
								<input id="modify-txt-input" class="form-control text-center" name="txt" hx-trigger="input delay:2s" hx-post="{% url 'event_participant_txt_modify' event.id p.id %}" value="{{ p.txt}}">
								</input>
								<button class="btn btn-danger" hx-post="{% url 'event_participant_txt_delete' event.id p.id %}">
									<svg id="delete-name-txt-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill icon-baseline" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
									</svg>
									<div class="spinner-border spinner-border-sm htmx-indicator" id="event_participant_txt_delete" role="status"></div>
								</button>
							</div>
						</form>
					{% else %}
						{{ p.txt }}
					{% endif %}
				</li>
			{% endfor %}

			<li class="list-group-item">
				{% if event.freeSlots > 0 %}
					<form method="post" class="form-inline">
						<div class="input-group">
							<input class="form-control text-center" name="username" maxlength="20" type="text" placeholder="{% translate "Name of participant" %}" name="name_text">
							<button class="btn btn-primary" hx-post="{% url 'event_participant_txt_add' event.id %}">
								<svg id="add-name-txt-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-align-center bi-plus-circle-fill icon-baseline" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
								</svg>
								<div class="spinner-border spinner-border-sm htmx-indicator" id="event_participant_txt_add" role="status"></div>
							</button>
						</div>
					</form>
					<div class="my-2">
						{% if messages %}
							    {% for message in messages %}
								{% if  message.tags == "error" %}
									<div class="alert alert-block alert-danger">{{ message}}</div>
								{% endif %}
							    {% endfor %}
						{% endif %}
					</div>
				{% endif %}
		</ul>
		<div class="my-2">
			{% if event.freeSlots == 1 %}
				{% translate "One slot remaining" %}
			{% elif event.freeSlots > 1 %}
				{% blocktranslate with num=event.freeSlots|apnumber|title %}{{ num }} free slots remaining{% endblocktranslate %}
			{% elif event.freeSlots == 0 %}
				{% translate "No free slot available" %}
			{% else %}
				{% translate "Too many registrations" %}
			{% endif %}
		</div>
	</div>
</div>
